body {
  padding: 50px 20px 20px 20px;
}

textarea
{
	width: 800px;
	height: 600px;
}

table.categories_list
{
}

table.categories_list th
{
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid black;
}

table.categories_list td
{
	padding: 5px;
	border-bottom: 1px solid black;
}
